/** 
Folha de estilo - simulador 
@author PEDRO
*/

body {
    font-family: sans-serif;
    font-size: 1em;
}

img {
    max-width: 100%;
}

.container {
    margin: 50px 0px;
    text-align: center;
}

/** cabeçalho */
header h1 {
    color: red;
    text-align: center;
}

/** Menu */
nav {
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: red;
    overflow: hidden; /*esconde a barra de rolangem*/
}

nav ul li {
    float: left;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: blue;
    transition: all 0.4s;
}

/*conteudo*/
#sw1 {
    float: left;
}

#sw2 {
    float: right;
}

/* reodape */
footer {
    width: 100%;
    background-color: red;
    color: white;
    padding: 5px 0px;
    text-align: center;
}

/*layout para telas grandes*/
@media (min-width: 576px) {
    header h1 {
        text-align: left;
    }
    .container{
        text-align: left;
    }

    #sw2 {
        float: left;
    }
}